<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>com.Hoover.dataLogger.dataLogger.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>NSHealthShareUsageDescription</key>
	<string>share acceleration and gyroscope data with your cloudkit</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>use acceleration and gyroscope data</string>
	<key>CFBundleIdentifier</key>
	<string>com.Hoover.dataLogger.dataLogger.watchkitapp.watchkitextension</string>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
